* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}
html {
  font-size: 14px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1410px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*...................INNER-PAGE-WRAP..................*/
.wrap-inner-page {
  padding-top: 59px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 30px;
}
.inner-home-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1px;
  margin-bottom: 12px;
}
.inner-home-link {
  text-decoration: none;
}
.inner-home-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #90d339;
  text-align: center;
  padding-top: 5px;
  position: relative;
  margin-right: 25px;
}
.inner-home-icon:hover {
  background-color: #7faa46;
}
.inner-home-icon:after {
  content: "⏷";
  font-size: 16px;
  color: #6c6c6c;
  position: absolute;
  top: 2px;
  left: 27px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.home-icon-svg {
  width: 12px;
  height: 12px;
  fill: #fff;
}
.link-name-section {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  color: #6c6c6c;
}
.link-name-section:hover {
  color: #90d339;
  text-decoration: underline;
}
/*..................MAIN PAGE.................*/
.main-page {
  width: 100%;
  min-height: 100vh;
  background: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}
.navigation {
  width: 100%;
  height: 110px;
  background: transparent;
  border-bottom: 1px solid #f1f2f3;
}
.navigation_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-block {
  width: 10%;
  padding-top: 24px;
  padding-left: 30px;
}
.logo-link {
  text-decoration: none;
}
.logo-block_svg {
  width: 99px;
}
.link-block {
  width: 55%;
}
.link-block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 46px;
  padding-right: 59px;
  padding-bottom: 45px;
}
.link-block_item {
  list-style-type: none;
  margin-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link-block_item-link {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 44px;
}
.link-block_item-link:hover {
  color: #90d339;
  padding-bottom: 41px;
  border-bottom: 3px solid #90d339;
}
.link-block_item-link--active {
  color: #90d339;
  padding-bottom: 41px;
  border-bottom: 3px solid #90d339;
}
.link-search:hover .search-svg {
  fill: #90d339;
}
.search-svg {
  width: 16px;
  margin-right: 9px;
}
.search-svg--active {
  fill: #90d339;
}
.contact-block {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 39px;
  padding-left: 59px;
  padding-right: 27px;
  position: relative;
}
.dropdown {
  width: 120px;
  background-color: #f8f9fa;
  border-radius: 5px;
  position: absolute;
  top: 39px;
  left: 59px;
  cursor: pointer;
}
.dropdown-head {
  width: 120px;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
  position: relative;
}
.dropdown-head:after {
  content: "⏷";
  font-size: 16px;
  color: #8b98a6;
  position: absolute;
  top: 2px;
  right: 8px;
}
.dropdown-head.active:after {
  content: "⏶";
  color: #90d339;
}
.dropdown-body {
  display: none;
}
.dropdown-item-english {
  width: 120px;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
}
.dropdown-item-deutch {
  width: 120px;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
}
.dropdown-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 13px;
  color: #8b98a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown-text:hover {
  text-decoration: underline;
}
.russian-svg {
  width: 20px;
  margin-right: 5px;
}
.english-svg {
  width: 20px;
  margin-right: 5px;
}
.germany-svg {
  width: 20px;
  margin-right: 5px;
}
.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5px;
}
.user-svg {
  width: 15px;
  fill: #0f0f0f;
  margin-right: 2px;
}
.user-svg--active {
  fill: #90d339;
}
.user-link {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #0f0f0f;
}
.user-link:hover {
  color: #90d339;
  padding-bottom: 43px;
  border-bottom: 3px solid #90d339;
}
.user-link:hover .user-svg {
  fill: #90d339;
}
.user-link--active {
  color: #90d339;
  padding-bottom: 43px;
  border-bottom: 3px solid #90d339;
}
.backet-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 23px;
  padding-top: 4px;
  position: relative;
}
.bascket-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #90d339;
  position: absolute;
  top: -6px;
  left: 5px;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
}
.bascket-svg {
  width: 17px;
  fill: #0f0f0f;
  margin-right: 5px;
}
.bascket-svg--active {
  fill: #90d339;
}
.bascket-link {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #0f0f0f;
}
.bascket-link:hover {
  color: #90d339;
  padding-bottom: 43px;
  border-bottom: 3px solid #90d339;
}
.bascket-link--active {
  color: #90d339;
  padding-bottom: 43px;
  border-bottom: 3px solid #90d339;
}
.bascket-link:hover .bascket-svg {
  fill: #90d339;
}
.car-bg-left {
  width: 645px;
  position: absolute;
  top: 246px;
  left: -340px;
}
.car-bg-rigth {
  width: 550px;
  position: absolute;
  top: 280px;
  right: -258px;
}
.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 87px;
}
.title-wrap {
  width: 580px;
}
.main-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 48px;
  color: #0f0f0f;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 13px;
}
.sub-title {
  width: 580px;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 18px;
  color: #6c6c6c;
  text-align: center;
  margin-bottom: 42px;
}
.block-form-header {
  width: 810px;
  height: 130px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap-header-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  margin-bottom: 20px;
}
.header-select.brand-select-car {
  width: 302px;
  height: 65px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  border-right: 1px solid #ececec;
  background-color: #fff;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #bebebe;
  padding-top: 25px;
  padding-left: 30px;
}
.header-select.model-select-car {
  width: 302px;
  height: 65px;
  border-radius: 0px 0px 0px 0px;
  border: none;
  background-color: #fff;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #bebebe;
  padding-top: 25px;
  padding-left: 30px;
}
.header-choose-car-button {
  width: 200px;
  height: 65px;
  background-color: #90d339;
  border-radius: 0px 5px 5px 0px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.header-choose-car-button:hover {
  background: #7faa46;
}
.search-area-header {
  text-decoration: none;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
}
.search-area-header-text {
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #0f0f0f;
  text-align: center;
}
.block-video {
  width: 810px;
  height: 305px;
  background: url(../img/fade-video.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 60px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}
.button-video-block {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}
.play-button-svg {
  width: 25px;
}
.block-video-text {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #0f0f0f;
  text-align: center;
}
/*....................NEW OFFER....................*/
.new-offer {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 92px;
}
.new-offer-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 25px;
}
.new-offer-slider {
  width: 100%;
}
.slick-slide {
  margin-right: 32px;
  outline: none;
}
/*.......................OFFER......................*/
.offer-wrap {
  padding-left: 29px;
  padding-right: 29px;
  margin-bottom: 53px;
}
.offer-block {
  background-color: #f8f9fa;
  border-radius: 3px;
  padding-top: 55px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.offer-block-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 50px;
}
.offer-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer-item {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer-item-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.offer-item-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 25px;
}
/*.....................OTHER OFFERS....................*/
.other-ofers-wrap {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
}
.other-ofers-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 7px;
}
.other-ofers-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/*.....................CARD-AUTO.....................*/
.card-auto {
  width: 313px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin: 14px;
}
.card-auto-img-wrap {
  width: 265px;
  height: 223px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-auto-model {
  width: 265px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 12px;
  margin-bottom: 15px;
}
.card-model-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 18px;
  color: #0f0f0f;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
.card-model-title:hover {
  color: #90d339;
}
.card-auto-discription {
  width: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.card-auto-discription-key {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 14px;
  color: #7C7C7C;
}
.card-auto-discription-value {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  color: #0f0f0f;
}
.card-auto-discription-value-gray {
  background-color: #ededed;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 10px;
  color: #0f0f0f;
  text-align: center;
  border-radius: 5px;
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 7px;
}
.card-auto-button {
  width: 265px;
  height: 65px;
  background-color: #90d339;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Proxima_Nova';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #0f0f0f;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
.other-ofers-watch-all {
  width: 100%;
  background-color: #f8f9fa;
  font-family: 'Proxima_Nova';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #0f0f0f;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 14px;
  margin-right: 14px;
  cursor: pointer;
}
/*......................QUESTIONS....................*/
.question-block {
  width: 60%;
  padding-top: 30px;
  margin-bottom: 60px;
}
.question-block-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 25px;
}
.question-block-item {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  margin-bottom: 20px;
  cursor: pointer;
}
.question-block-item__head {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 18px;
  color: #0f0f0f;
  text-align: left;
  padding-top: 27px;
  padding-left: 32px;
  padding-right: 50px;
  padding-bottom: 27px;
  position: relative;
}
.question-block-item__head:after {
  content: "➜";
  font-size: 18px;
  color: #90d339;
  position: absolute;
  top: 25px;
  right: 35px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.question-block-item__head.active:after {
  content: "➜";
  color: #90d339;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.question-block-item__body {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #868686;
  text-align: left;
  line-height: 1.45;
  padding-left: 32px;
  padding-right: 50px;
  padding-bottom: 20px;
  display: none;
}
/*......................ABOUT PROJECT....................*/
.about-project-wrap {
  padding-left: 29px;
  padding-right: 29px;
}
.about-project {
  background-color: #f8f9fa;
  background-image: url(../img/red-car.png);
  background-repeat: no-repeat;
  background-position: right 77px;
  border-radius: 3px;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
}
.about-project-content {
  width: 75%;
  padding-top: 4px;
  padding-right: 55px;
}
.about-project-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 24px;
}
.about-project-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #868686;
  text-align: left;
  line-height: 1.45;
  margin-bottom: 15px;
}
/*.........................FOOTER........................*/
.footer {
  width: 100%;
  height: 197px;
  background-color: #f8f9fa;
}
.footer-navigation {
  width: 100%;
  height: 116px;
  background: transparent;
  border-bottom: 1px solid #f1f2f3;
}
.footer-navigation_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-logo-block {
  width: 10%;
  padding-top: 36px;
  padding-left: 21px;
}
.footer-link-block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 56px;
  padding-left: 66px;
  padding-bottom: 15px;
}
.footer-link-block {
  width: 60%;
  position: relative;
}
.footer-dropdown {
  width: 120px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  right: 66px;
  cursor: pointer;
}
.footer-contact-block {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 48px;
  padding-left: 32px;
  padding-right: 27px;
  position: relative;
}
.footer-backet-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 24px;
  padding-top: 5px;
  position: relative;
}
.footer-bascket-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #90d339;
  position: absolute;
  top: -6px;
  left: 29px;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
}
.footer-search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 7px;
  padding-left: 22px;
}
.footer-bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-left: 22px;
  padding-right: 22px;
}
.footer-copy {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 14px;
  color: #6c6c6c;
}
.footer-user-license {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 14px;
  color: #6c6c6c;
}
.footer-payment-card {
  width: 158px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
  padding-right: 12px;
}
.visa-svg {
  width: 38px;
}
.mastercard-svg {
  width: 38px;
}
.maestro-svg {
  width: 38px;
}
/*...............TRANSPORT PAGE..............*/
.transport-page-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 2;
  color: #0f0f0f;
  text-align: left;
}
.transport-page-wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.transport-page-cars {
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.transport-page-sidebar {
  width: 315px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-top: -102px;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.transport-page-sidebar-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 15px;
}
/*...................FOR CARD-AUTO..................*/
.card-auto-block-button {
  width: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.button-card-auto-small-button {
  width: 190px;
  height: 65px;
  background-color: #90d339;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Proxima_Nova';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #0f0f0f;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.card-auto-bascket-block {
  width: 63px;
  height: 65px;
  background-color: #f8f9fa;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-auto-bascket-svg {
  width: 25px;
}
/*...............FOR CARD-AUTO..END..............*/
.form-transport-sidebar {
  width: 100%;
  height: 200px;
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-transport-button {
  width: 265px;
  height: 65px;
  background-color: #90d339;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Proxima_Nova';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #0f0f0f;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}
.form-transport-clear-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  color: #8b98a6;
}
/*...............PACKAGE-PAGE..............*/
.package-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.package-page-title-wrap {
  width: 57%;
  margin-bottom: 30px;
}
.package-page-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 2;
  color: #0f0f0f;
  text-align: center;
}
.package-page-sub-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #6c6c6c;
  text-align: center;
}
.span-green-mark {
  background-color: #90d339;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 5px;
}
.package-page-block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.package-page-card {
  width: 295px;
  height: 510px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 75px;
  margin-left: 20px;
  margin-right: 20px;
}
.package-page-card-vip {
  width: 310px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
  margin: 15px;
}
.package-page-card-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 24px;
  line-height: 2.5;
  color: #90d339;
  text-align: center;
  margin-bottom: 15px;
}
.package-page-card-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #90d339;
  -webkit-box-shadow: 0px 15px 27px 0px rgba(144, 211, 57, 0.6);
          box-shadow: 0px 15px 27px 0px rgba(144, 211, 57, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  margin-bottom: 27px;
}
.package-page-card-circle-vip {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #90d339;
  -webkit-box-shadow: 0px 15px 27px 0px rgba(144, 211, 57, 0.6);
          box-shadow: 0px 15px 27px 0px rgba(144, 211, 57, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 58px;
  margin-bottom: 27px;
}
.package-page-card-circle-digit {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 100px;
  line-height: 1;
  color: #fff;
  text-align: center;
}
.package-page-card-circle-contact {
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.package-page-card-cost {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: #0f0f0f;
  text-align: center;
}
.small-digit {
  font-size: 14px;
}
.package-page-card-rub {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 38px;
}
.package-page-card-rub-vip {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 40px;
}
.package-page-card-button {
  width: 215px;
  height: 65px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Proxima_Nova';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #0f0f0f;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.package-page-card-button:hover {
  background-color: #90d339;
  color: #fff;
}
.package-page-card-button-vip {
  width: 215px;
  height: 65px;
  background-color: #90d339;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Proxima_Nova';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.package-page-card-button-vip:hover {
  background-color: #f8f9fa;
  color: #0f0f0f;
}
.package-page-bottom-text-wrap {
  width: 50%;
  margin-bottom: 45px;
}
.package-page-bottom-text {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  color: #6c6c6c;
  text-align: center;
}
/*...............HOW-TO PAGE..............*/
.how-to-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-to-title-wrap {
  width: 52%;
  margin-bottom: 20px;
}
.how-to-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 2.1;
  color: #0f0f0f;
  text-align: center;
}
.how-to-sub-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #6c6c6c;
  text-align: center;
}
.how-to-step-list-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 150px;
  margin-bottom: 60px;
}
.how-to-step-list-item {
  width: 280px;
  padding-top: 20px;
}
.how-to-step-title {
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #D7DDE1;
  text-align: left;
  margin-bottom: 4px;
}
.how-to-step-title.active {
  color: #90d339;
}
.how-to-step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 3px solid #D7DDE1;
  position: relative;
  margin-bottom: 15px;
}
.how-to-step-circle:after {
  content: "";
  display: block;
  width: 240px;
  height: 1px;
  border-top: 4px dashed #D7DDE1;
  position: absolute;
  top: 15px;
  right: -240px;
}
.how-to-step-circle.active {
  border: 3px solid #90d339;
}
.how-to-step-circle.active:after {
  border-top: 4px dashed #90d339;
}
.last-circle:after {
  border-top: 4px dashed transparent;
}
.how-to-step-text {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  color: #0f0f0f;
  text-align: left;
}
.how-to-slider {
  width: 90%;
  padding-left: 30px;
  padding-bottom: 15px;
}
.how-to-slider-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-to-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-to-slider-item-img {
  width: 545px;
  height: 390px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  margin: 14px;
  display: inline-block;
}
.how-to-slider-item-text {
  width: 545px;
  height: 390px;
  margin: 14px;
  padding-top: 32px;
  padding-right: 15px;
  position: relative;
  z-index: 5;
  display: inline-block;
}
.slider-text-after-1:after {
  content: "1";
  position: absolute;
  top: -25px;
  right: -20px;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 260px;
  color: #f5f5f5;
  z-index: -1;
}
.slider-text-after-2:after {
  content: "2";
  position: absolute;
  top: -25px;
  right: -20px;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 260px;
  color: #f5f5f5;
  z-index: -1;
}
.slider-text-after-3:after {
  content: "3";
  position: absolute;
  top: -25px;
  right: -20px;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 260px;
  color: #f5f5f5;
  z-index: -1;
}
.slider-text-after-4:after {
  content: "4";
  position: absolute;
  top: -25px;
  right: -20px;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 260px;
  color: #f5f5f5;
  z-index: -1;
}
.how-to-slider-small-title {
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: #D7DDE1;
  text-align: left;
  margin-bottom: 4px;
}
.how-to-slider-small-title.active {
  color: #90d339;
}
.how-to-slider-item-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 13px;
}
.how-to-slider-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 20px;
}
/*...............CONTACT PAGE..............*/
.contact-page-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 2;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 10px;
}
.contact-page-block {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 50px;
}
.contact-page-block-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact-page-form {
  width: 575px;
  border-radius: 5px;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 45px;
}
.contact-page-form-title-wrap {
  width: 515px;
}
.contact-page-form-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 24px;
  line-height: 2.1;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 10px;
}
.contact-page-input {
  width: 515px;
  height: 60px;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Proxima_Nova';
  font-weight: 400;
  font-size: 15px;
  color: #bfc6ce;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-bottom: 15px;
}
.contact-page-input::-webkit-input-placeholder {
  color: #bfc6ce;
  font-size: 15px;
}
.contact-page-input::-moz-input-placeholder {
  color: #bfc6ce;
  font-size: 15px;
}
.contact-page-input:-moz-input-placeholder {
  color: #bfc6ce;
  font-size: 15px;
}
.contact-page-textarea {
  width: 515px;
  height: 140px;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Proxima_Nova';
  font-weight: 400;
  font-size: 15px;
  color: #bfc6ce;
  border: none;
  outline: none;
  resize: none;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}
.contact-page-textarea::-webkit-input-placeholder {
  color: #bfc6ce;
  font-size: 15px;
}
.contact-page-textarea::-moz-input-placeholder {
  color: #bfc6ce;
  font-size: 15px;
}
.contact-page-textarea:-moz-input-placeholder {
  color: #bfc6ce;
  font-size: 15px;
}
.contact-page-submit {
  width: 515px;
  height: 65px;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: #90d339;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.contact-page-submit:hover {
  background-color: #7faa46;
}
.contact-page-block-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 30px;
  padding-left: 113px;
}
.contact-page-right-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 24px;
  line-height: 2.1;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 25px;
}
.contact-page-link-wrap {
  display: inline-block;
  border-bottom: 1px solid #90d339;
  margin-bottom: 45px;
}
.contact-page-mail-link {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #90d339;
  text-align: left;
}
/*...............SEARCH-PAGE..............*/
.search-page-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 2;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 10px;
}
.search-main-block {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
}
.head-search-form {
  padding-top: 28px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.head-search-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.head-search-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.form-select-text.text-country {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  color: #8B98A6;
  margin-left: 5px;
  margin-right: 35px;
}
.head-search-select.select-country {
  width: 485px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  padding-top: 15px;
  margin-right: 22px;
}
.form-select-text.text-local {
  margin-right: 31px;
}
.head-search-select.select-local {
  width: 485px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  padding-top: 15px;
}
.head-search-select.select-transport {
  width: 265px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  padding-top: 15px;
  margin-right: 23px;
}
.form-select-text.text-transport {
  margin-right: 45px;
}
.head-search-select.select-brand-auto {
  width: 265px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  padding-top: 15px;
  margin-right: 23px;
}
.form-select-text.text-brand-auto {
  margin-right: 70px;
}
.head-search-select.select-model {
  width: 265px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  padding-top: 15px;
}
.form-select-text.text-model {
  margin-right: 95px;
}
.section-title-form {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  color: #0f0f0f;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}
.form-section {
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}
.form-section-head {
  width: 100%;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.form-section-head:after {
  content: "⏷";
  font-size: 16px;
  color: #90d339;
  position: absolute;
  top: 10px;
  right: 52px;
}
.form-section-head.active:after {
  content: "⏶";
  color: #90d339;
}
.form-section-body {
  padding-top: 32px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: none;
}
.form-section-body.comfort-block {
  padding-bottom: 10px;
}
/*............CUSTOM-RADIO-BUTTON..............*/
.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio-text {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}
.radio-text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(104, 105, 104, 0.5);
          box-shadow: 0px 3px 15px 0px rgba(104, 105, 104, 0.5);
  border-radius: 50%;
  background: #FFF;
}
.radio-text:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #90d339;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}
.radio input:checked + .radio-text:after {
  opacity: 1;
}
/*............CUSTOM-CHECKBOX..............*/
.checkbox-wrap input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.checkbox-text {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}
.form-select-text {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  color: #8B98A6;
  margin-left: 5px;
  margin-right: 58px;
}
.checkbox-text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(104, 105, 104, 0.5);
          box-shadow: 0px 3px 15px 0px rgba(104, 105, 104, 0.5);
  border-radius: 50%;
  background: #FFF;
}
.checkbox-text:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #90d339;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}
.checkbox-wrap input:checked + .checkbox-text:after {
  opacity: 1;
}
.checkbox-text.margin-bottom {
  margin-bottom: 21px;
}
.form-section-body.info-car {
  padding-top: 11px;
  padding-bottom: 17px;
}
.wrap-info-car-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info-car-item-block {
  width: 50%;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 20px;
  margin-bottom: 25px;
}
.wrap-slider-before-radio {
  width: 78%;
}
.info-car-item-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  color: #8B98A6;
  margin-bottom: 8px;
}
.wrap-text-slider-ui {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}
.start-position-slider {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
}
.result-slider-year,
.result-slider-power,
.result-slider-distance,
.result-slider-engine {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
}
.block-slider-radio {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 20px;
  margin-right: -20px;
}
.info-car-item-block.slider-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.checkbox-condition-items-block {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap-radio-condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.radio-text.condition {
  margin-right: 65px;
}
.condition-select.select-owner {
  width: 265px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  padding-top: 15px;
}
.form-select-text.text-owner {
  margin-right: 65px;
}
.condition-select.select-color-auto {
  width: 265px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #0f0f0f;
  padding-top: 15px;
}
.form-select-text.text-color-auto {
  margin-left: 15px;
  margin-right: 115px;
}
.wrap-radio-type-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-section-body.section-body-type-car {
  padding-right: 140px;
  padding-bottom: 10px;
}
.radio-text.type-car {
  margin-right: 30px;
  margin-bottom: 32px;
}
.wrap-radio-fuel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.radio-text.fuel {
  margin-right: 30px;
  margin-bottom: 32px;
}
.form-section-body.section-body-fuel {
  padding-bottom: 0;
}
.wrap-radio-transmition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.radio-text.transmition {
  margin-right: 25px;
}
.wrap-checkbox-comfort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.checkbox-comfort-items-block {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 0;
}
.checkbox-text.comfort {
  margin-bottom: 33px;
}
.radio-text.comfort {
  margin-bottom: 33px;
}
.wrap-checkbox-other-parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.checkbox-text.other-parameters {
  margin-right: 285px;
}
.radio-text.other-parameters {
  margin-right: 285px;
}
.search-form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-right: 35px;
}
.search-form-footer-reset {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  color: #8B98A6;
  position: relative;
}
.search-form-footer-reset:before {
  content: "✖";
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: -20px;
  color: #8B98A6;
}
.search-form-footer-offer {
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  color: #8B98A6;
}
.search-form-button {
  width: 280px;
  height: 65px;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: #90d339;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
/*.............LK-USER-AUTH-PAGE............*/
.auth-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 55px;
}
.auth-form-block {
  width: 720px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  padding-top: 60px;
}
.auth-block-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 2.1;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 7px;
}
.auth-form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.auth-form-block-form {
  width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #eef1f4;
  padding-bottom: 35px;
}
.auth-form-block-input {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #eef1f4;
  outline: none;
  padding-left: 20px;
  margin-bottom: 15px;
}
.auth-form-block-input::-webkit-input-placeholder {
  color: #BAC2CA;
  font-size: 15px;
}
.auth-form-block-input:-moz-input-placeholder {
  color: #BAC2CA;
  font-size: 15px;
}
.auth-form-block-input:-ms-input-placeholder {
  color: #BAC2CA;
  font-size: 15px;
}
.forgot-password-link {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  color: #8B98A6;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.icon-warning-svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.auth-form-block-submit {
  width: 100%;
  height: 65px;
  background-color: #90d339;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.auth-form-block-bottom {
  width: 490px;
  padding-top: 33px;
  padding-bottom: 60px;
}
.auth-form-block-bottom-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #0f0f0f;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
}
.auth-form-block-bottom-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1.33;
  color: #0f0f0f;
  margin-bottom: 26px;
}
.auth-form-block-bottom-button {
  width: 100%;
  height: 65px;
  text-decoration: none;
  display: inline-block;
  background-color: #90d339;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding-top: 18px;
}
/*.............LK-REGISTRATION-PAGE............*/
.registration-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 55px;
}
.registration-block-title {
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 30px;
  line-height: 2.1;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 7px;
}
.registration-form-block {
  width: 720px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
          box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
.registration-form-block-form {
  width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #eef1f4;
  padding-bottom: 30px;
}
.registration-form-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 2.1;
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 17px;
}
.registration-form-block-input {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #eef1f4;
  outline: none;
  padding-left: 20px;
  margin-bottom: 15px;
}
.registration-form-block-input::-webkit-input-placeholder {
  color: #BAC2CA;
  font-size: 15px;
}
.registration-form-block-input:-moz-input-placeholder {
  color: #BAC2CA;
  font-size: 15px;
}
.registration-form-block-input:-ms-input-placeholder {
  color: #BAC2CA;
  font-size: 15px;
}
.registration-form-text.phone-number {
  margin-bottom: 8px;
}
.wrap-phone-number-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.wrap-phone-number.phone-number-select {
  width: 185px;
  height: 60px;
  border-radius: 5px;
  outline: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: #BAC2CA;
  padding-top: 20px;
  padding-left: 40px;
}
.phone-number-input-short {
  width: 85px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #eef1f4;
  outline: none;
  padding-left: 20px;
  margin-bottom: 15px;
}
.phone-number-input-long {
  width: 190px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #eef1f4;
  outline: none;
  padding-left: 20px;
  margin-bottom: 15px;
}
.checkbox-wrap.checkbox-rules {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 31px;
}
.rules-system-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: #0f0f0f;
}
.rules-system-link {
  color: #90d339;
}
.registration-block-bottom-button {
  width: 100%;
  height: 65px;
  text-decoration: none;
  display: inline-block;
  background-color: #90d339;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: 'Proxima_Nova';
  font-weight: 700;
  font-size: 12px;
  line-height: 5;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.registration-form-bottom-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 15px;
  line-height: 1.33;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 10px;
}
