* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}
html {
  font-size: 14px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1410px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*..................MAIN PAGE.................*/
.main-page {
  width: 100%;
  min-height: 864px;
  background: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.navigation {
  width: 100%;
  height: 110px;
  background: transparent;
  border-bottom: 1px solid #f1f2f3;
}
.navigation_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-block {
  width: 10%;
  padding-top: 24px;
  padding-left: 30px;
}
.logo-link {
  text-decoration: none;
}
.logo-block_svg {
  width: 99px;
}
.link-block {
  width: 55%;
}
.link-block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 46px;
  padding-right: 59px;
  padding-bottom: 45px;
}
.link-block_item {
  list-style-type: none;
  margin-left: 26px;
}
.link-block_item-link {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #0f0f0f;
}
.link-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-svg {
  width: 16px;
  margin-right: 9px;
}
.contact-block {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 39px;
  padding-left: 59px;
  padding-right: 27px;
  position: relative;
}
.dropdown {
  width: 120px;
  background-color: #f8f9fa;
  border-radius: 5px;
  position: absolute;
  top: 39px;
  left: 59px;
  cursor: pointer;
}
.dropdown-head {
  width: 120px;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
  position: relative;
}
.dropdown-head:after {
  content: "⏷";
  font-size: 16px;
  color: #8b98a6;
  position: absolute;
  top: 2px;
  right: 8px;
}
.dropdown-head.active:after {
  content: "⏶";
  color: #90d339;
}
.dropdown-body {
  display: none;
}
.dropdown-item-english {
  width: 120px;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
}
.dropdown-item-deutch {
  width: 120px;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
}
.dropdown-text {
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 13px;
  color: #8b98a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown-text:hover {
  text-decoration: underline;
}
.russian-svg {
  width: 20px;
  margin-right: 5px;
}
.english-svg {
  width: 20px;
  margin-right: 5px;
}
.germany-svg {
  width: 20px;
  margin-right: 5px;
}
.user-block {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 63px;
  border-bottom: 3px solid #90d339;
}
.user-svg {
  width: 15px;
  fill: #90d339;
  margin-right: 2px;
}
.user-link {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #90d339;
}
.backet-block {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 23px;
  padding-top: 4px;
  position: relative;
}
.bascket-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #90d339;
  position: absolute;
  top: -6px;
  left: 5px;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
}
.bascket-svg {
  width: 17px;
  fill: #0f0f0f;
  margin-right: 5px;
}
.bascket-link {
  text-decoration: none;
  font-family: 'Proxima_Nova';
  font-weight: 600;
  font-size: 16px;
  color: #0f0f0f;
}
.car-bg-left {
  width: 645px;
  position: absolute;
  top: 246px;
  left: -340px;
}
.car-bg-rigth {
  width: 550px;
  position: absolute;
  top: 280px;
  right: -258px;
}
