*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}

html {
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1410px;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid blue;
}

.wrapper{
	min-height: 100vh;		
	display: flex;
	flex-direction: column;
}


// font-family: 'Proxima_Nova';
// font-weight: 700;

// font-family: 'Proxima_Nova';
// font-weight: 600;

// font-family: 'Proxima_Nova';
// font-weight: 400;
