
// @light-gray: #f1f2f3;



@main-text: #0F0F0F;
@gray-text: #6C6C6C;
@main-green: #90d339;
// @gray-bg: #f8f9fa;



@gray-bg: #E5E6E7;
@light-gray: #D5D5D6;
@main-shadow: 0px 5px 27px 0px rgba(190, 192, 197, 0.6);
@place-color: #A8AFB6;