/*..................BASCKET-PAGE................*/

.inner-home-link-wrap.bascet-page{
	margin-bottom: 30px;
}

.bascket-block-content{
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
	margin-bottom: 50px;
}

.bascket-block-content-wrap{
	width: 83%;
	height: 100%;
	// border: 1px solid green;
}

.bascket-block-content-header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #eef1f4;
	padding-top: 45px;
	padding-bottom: 3px;
	margin-bottom: 30px;
}

.bascket-block-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 30px;
	line-height: 1.6;
	color: @main-text;
	text-align: left;
	margin-bottom: 10px;
}

.block-delete-link{
	// border: 1px solid blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delete-link{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 14px;
	line-height: 1.6;
	color: #8B98A6;
	margin-right: 7px;
}

.bin-svg-icon{
	width: 19px;
	margin-right: 5px;
}

.checkbox.link-delete{
	margin-bottom: 10px;
}

.bascket-content-item{
	width: 100%;
	height: 240px;
	border-radius: 5px;
	background-color: @gray-bg;
	margin-bottom: 15px;
	display: flex;
}

.bascket-content-item-left{
	width: 60%;
	display: flex;
	justify-content: flex-start;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.bascket-content-block-img{
	width: 285px;
	height: 180px;
	border-radius: 5px;
	// border: 1px solid green;
	margin-right: 30px;
	overflow: hidden;
}

.img-car-block{
	width: 100%;
	height: 100%;
}

.bascket-content-block-discription{
	width: 300px;
	height: 180px;
	// border-radius: 5px;
	// border: 1px solid blue;
}

.car-discription-title-offer{
	text-transform: uppercase;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 12px;
	line-height: 1.4;
	color: @main-green;
	margin-bottom: 5px;
}

.car-discription-title-main{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 20px;
	line-height: 1.6;
	color: @main-text;
	margin-bottom: 8px;
}

.car-discription-list{
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 14px;
	line-height: 1.7;
	color: #7C7C7C;
}

.bold-discription{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 14px;
	line-height: 1.6;
	color: @main-text;
}











.bascket-content-item-right{
	width: 40%;
	height: 100px;
	border: 1px solid red;
}


