/*.............LK-PASSWORD-PAGE............*/

.lk-user-content.password{
	padding-bottom: 70px;
}

.lk-password-block-form{
	width: 100%;
	border-radius: 5px;
	background-color: @gray-bg;
	padding-top: 18px;
	padding-left: 30px;
	padding-bottom: 40px;
}

.lk-password-form-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 24px;
	line-height: 2.5;
	color: @main-text;
	text-align: left;
	margin-bottom: 10px;
}

.wrap-lk-password-form-input{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 16px;
}

.lk-password-form-input{
	width: 400px;
	height: 60px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
	outline: none;
	padding-left: 20px;
	margin-right: 30px;
}

.lk-password-form-input::-webkit-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.lk-password-form-input:-moz-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.lk-password-form-input:-ms-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.lk-password-form-input-message{
	width: 40%;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 14px;
	line-height: 1.28;
	color: @main-text;
	text-align: left;
	margin-top: 15px;
	margin-left: 25px;
	position: relative;

	&:before{
		content: "✱";
		font-size: 20px;
		color: #d70c1f;
		position: absolute;
		top: 0;
		left: -25px;
	}
}

.lk-password-form-submit{
	width: 400px;
	height: 65px;
	text-decoration: none;
	display: inline-block;
	background-color: @main-green;
	border-radius: 5px;
	border: none;
	outline: none;
	text-transform: uppercase;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 12px;
	line-height: 5;
	color: #fff;
	text-align: center;
	cursor: pointer;
	margin-top: 7px;
}