/*............lK-ADD-TRANSPORT-PAGE............*/ 


.section-body.form-section-body.add-transport{
	padding-left: 0;
	padding-bottom: 28px;
}


.add-transport-wrap-label{
	// border: 1px solid green;
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
	margin-bottom: 15px;
}

.add-transport-item{
	// border: 1px solid red;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.form-select-text.add-transport{
	margin-right: 32px;
}

.head-lk-search-select.select-model.add{
	width: 316px;
	margin-right: 130px;
}

.head-lk-search-select.select-model.add-2{
	width: 230px;
	margin-right: 10px;
}

.radio-text.add{
	margin-right: 24px;
}

.form-select-text.add-transport-km{
	margin-right: 35px;
}

.input-left-add-transport{
	width: 315px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #eef1f4;
	padding-left: 20px;
}

.input-left-add-transport::-webkit-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.input-left-add-transport:-moz-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.input-left-add-transport:-ms-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.input-right-add-transport{
	width: 370px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #eef1f4;
	padding-left: 20px;
}

.input-right-add-transport::-webkit-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.input-right-add-transport:-moz-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.input-right-add-transport:-ms-input-placeholder {
  color: @place-color;
  font-size: 15px;
}

.section-body.form-section-body.add-photo{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.block-add-photo-car{
	width: 100%;
	border-radius: 5px;
	border: 1px dashed #8b98a6;
	background-color: #fbfbfb;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 45px;
}

.button-add-photo{
	text-decoration: none;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	border: 1px solid #8b98a6;
	text-align: center;
	font-size: 36px;
	line-height: 1;
	color: #8b98a6;
	margin-right: 30px;
}

.block-text-add-photo{
	margin-right: 80px;
}

.add-photo-text-top{
	font-family: 'Proxima_Nova', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.4;
	color: #8b98a6;
}

.add-photo-text-bottom{
	font-family: 'Proxima_Nova', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.4;
	color: #B7BCC2;
}

.add-photo-item{
	width: 120px;
	height: 110px;
	border-radius: 5px;
	border: 1px solid #8b98a6;
	background-color: #fff;
	margin-left: 10px;
}

.search-form-footer.lk-search.add-transport{
	// padding-top: 0;
}

