/*.............LK-SEARCH-PAGE............*/

.lk-user-content-bottom-header.lk-search{
	margin-bottom: 37px;
}

.lk-search-content-block{
	width: 100%;
}

.lk-search-form-main-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 24px;
	line-height: 1;
	color: @main-text;
	text-align: left;
	padding-bottom: 12px;
}

.lk-head-search-form{
	padding-top: 7px;
	padding-bottom: 10px;
}

.lk-head-search-form-wrap{
	display: flex;
	flex-wrap: wrap;
}

.lk-head-search-form-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.form-select-text.lk-search{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 14px;
	line-height: 2;
	color: #8B98A6;
	margin-left: 0;
	margin-right: 25px;
}

.head-lk-search-select.select-country{
	width: 295px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	color: @main-text;
	padding-top: 15px;
	margin-right: 22px;
}

.form-select-text.lk-search-local{
	margin-right: 25px;
}

.head-lk-search-select.select-local{
	width: 523px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	color: @main-text;
	padding-top: 15px;
}

.form-select-text.lk-search-transport{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 14px;
	line-height: 2;
	color: #8B98A6;
	margin-left: 0;
	margin-right: 20px;
}

.head-lk-search-select.select-transport{
	width: 250px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	color: @main-text;
	padding-top: 15px;
	margin-right: 28px;
}

.form-select-text.lk-search-brand{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 14px;
	line-height: 2;
	color: #8B98A6;
	margin-left: 0;
	margin-right: 22px;
}

.head-lk-search-select.select-brand-auto{
	width: 250px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	color: @main-text;
	padding-top: 15px;
	margin-right: 33px;
}

.form-select-text.lk-search-model{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 14px;
	line-height: 2;
	color: #8B98A6;
	margin-left: 0;
	margin-right: 22px;
}

.head-lk-search-select.select-model{
	width: 265px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	color: @main-text;
	padding-top: 15px;
}

.form-section-head.lk-search{
	padding-left: 0;
	padding-right: 0;
}

.lk-search-section-title-form{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 22px;
	line-height: 1.4;
	color: @main-text;
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #D5D5D6;
}

.section-body.lk-search{
	padding-top: 13px;
	padding-left: 0;
	padding-right: 0;
	// padding-bottom: 30px;
	// display: none;
}


