/*..................MAIN PAGE.................*/

.main-page{
	width: 100%;
	min-height: 100vh;
	background: url(../img/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}

.navigation{
	width: 100%;
	height: 110px;
	background: transparent;
	border-bottom: 1px solid @light-gray;
}

.navigation_content{
	display: flex;
}

.logo-block{
	width: 10%;
	// border: 1px solid red;
	padding-top: 24px;
	padding-left: 30px;
}

.logo-link{
	text-decoration: none;
}

.logo-block_svg{
	width: 99px;
}

.link-block{
	width: 55%;
	// border: 1px solid red;
}

.link-block_list{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 46px;
	padding-right: 59px;
	padding-bottom: 45px;
}

.link-block_item{
	list-style-type: none;
	margin-left: 26px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.link-block_item-link{
	text-decoration: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 16px;
	color: @main-text;
	display: flex;
	padding-bottom: 44px;

	&:hover{
		color: @main-green;
		padding-bottom: 41px;
		border-bottom: 3px solid @main-green;
	}
}

.link-block_item-link--active{
	color: @main-green;
	padding-bottom: 41px;
	border-bottom: 3px solid @main-green;
}

.link-search:hover .search-svg{
	fill: @main-green;
}

.search-svg{
	width: 16px;
	margin-right: 9px;
}

.search-svg--active{
	fill: @main-green;
}

.contact-block{
	width: 35%;
	// border: 1px solid red;
	display: flex;
	justify-content: flex-end;
	padding-top: 39px;
	padding-left: 59px;
	padding-right: 27px;
	position: relative;
}

.dropdown{
	width: 120px;
	background-color: #f8f9fa;
	border-radius: 5px;
	position: absolute;
	top: 39px;
	left: 59px;
	cursor: pointer;
}

.dropdown-head{
	width: 120px;
	height: 30px;
	padding-top: 5px;
	padding-left: 8px;
	position: relative;

	&:after{
		content: "⏷";
		font-size: 16px;
		color: #8b98a6;
		position: absolute;
		top: 2px;
		right: 8px;
	}
}

.dropdown-head.active:after{
	content: "⏶";
	color: @main-green;
}

.dropdown-body{
	display: none;
}

.dropdown-item-english{
	width: 120px;
	height: 30px;
	padding-top: 5px;
	padding-left: 8px;
}

.dropdown-item-deutch{
	width: 120px;
	height: 30px;
	padding-top: 5px;
	padding-left: 8px;
}

.dropdown-text{
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 13px;
	color: #8b98a6;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&:hover{
		text-decoration: underline;
	}
}

.russian-svg{
	width: 20px;
	margin-right: 5px;
}

.english-svg{
	width: 20px;
	margin-right: 5px;
}

.germany-svg{
	width: 20px;
	margin-right: 5px;
}

.user-block{
	// border: 1px solid green;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 5px;
}

.user-svg{
	width: 15px;
	fill: @main-text;
	margin-right: 2px;
}

.user-svg--active{
	fill: @main-green;
}

.user-link{
	text-decoration: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 16px;
	color: @main-text;

	&:hover{
		color: @main-green;
		padding-bottom: 43px;
		border-bottom: 3px solid @main-green;
	}
}

.user-link:hover .user-svg{
	fill: @main-green;
} 

.user-link--active{
	color: @main-green;
	padding-bottom: 43px;
	border-bottom: 3px solid @main-green;
}

.backet-block{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: 23px;
	padding-top: 4px;
	position: relative;
}

.bascket-count{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: @main-green;
	position: absolute;
	top: -6px;
	left: 5px;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 13px;
	color: #fff;
	text-align: center;
	padding-top: 2px;
	cursor: pointer;
	// display: none;
}

.bascket-svg{
	width: 17px;
	fill: @main-text;
	margin-right: 5px;
}

.bascket-svg--active{
	fill: @main-green;
}

.bascket-link{
	text-decoration: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 16px;
	color: @main-text;

	&:hover{
		color: @main-green;
		padding-bottom: 43px;
		border-bottom: 3px solid @main-green;
	}
}

.bascket-link--active{
	color: @main-green;
	padding-bottom: 43px;
	border-bottom: 3px solid @main-green;
}

.bascket-link:hover .bascket-svg{
	fill: @main-green;
}

.car-bg-left{
	width: 645px;
	position: absolute;
	top: 246px;
	left: -340px;
}

.car-bg-rigth{
	width: 550px;
	position: absolute;
	top: 280px;
	right: -258px;
}

.header-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 87px;
}

.title-wrap{
	width: 580px;
}

.main-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 48px;
	color: @main-text;
	line-height: 1.25;
	text-align: center;
	margin-bottom: 13px;
}

.sub-title{
	width: 580px;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 18px;
	color: @gray-text;
	text-align: center;
	margin-bottom: 42px;
}

.block-form-header{
	width: 810px;
	height: 130px;
	margin-bottom:50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrap-header-select{
	display: flex;
	box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
	margin-bottom: 20px;
}

.header-select.brand-select-car{
	width: 302px;
	height: 65px;
	border-radius: 5px 0px 0px 5px;
	border: none;
	border-right: 1px solid #ececec;
	background-color: #fff;
	outline: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	color: #bebebe;
	padding-top: 25px;
	padding-left: 30px;
}

.header-select.model-select-car{
	width: 302px;
	height: 65px;
	border-radius: 0px 0px 0px 0px;
	border: none;
	background-color: #fff;
	outline: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	color: #bebebe;
	padding-top: 25px;
	padding-left: 30px;
}

.header-choose-car-button{
	width: 200px;
	height: 65px;
	background-color: @main-green;
	border-radius: 0px 5px 5px 0px;
	border: none;
	outline: none;
	text-transform: uppercase;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.search-area-header{
	text-decoration: none;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
	// padding-top: 13px;
}

.search-area-header-text{
	text-transform: uppercase;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	color: @main-text;
	text-align: center;
}




// .block-form-input{
// 	width: 100%;
// 	height: 36px;
// }

// .wrap-search-input{
// 	border: 1px solid red;
// 	position: relative;
// }

// .search-placeholder{
// 	font-size: 24px;
// 	position: absolute;
// 	top: 3px;
// 	left: 50px;
// }






.block-video{
	width: 810px;
	height: 300px;
	border: 1px solid red;
	margin-bottom: 60px;
}

/*....................NEW OFFER....................*/

.new-offer{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 92px;
}

.new-offer-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 30px;
	color: @main-text;
	text-align: center;
	margin-bottom: 25px;
}

.new-offer-slider{
	width: 100%;
}

.slick-slide{
	margin-right: 32px;
	outline: none;
}

/*.......................OFFER......................*/

.offer-wrap{
	padding-left: 29px;
	padding-right: 29px;
	margin-bottom: 53px;
}

.offer-block{
	background-color: @gray-bg;
	border-radius: 3px;
	padding-top: 55px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

.offer-block-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 30px;
	color: @main-text;
	text-align: center;
	margin-bottom: 50px;
}

.offer-block-item{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.offer-item{
	width: 190px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.offer-item-circle{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.offer-item-text{
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 16px;
	color: @main-text;
	text-align: center;
	margin-bottom: 25px;
}

.offer-item-icon{
	
}

/*.....................OTHER OFFERS....................*/

.other-ofers-wrap{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 25px;
}

.other-ofers-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 30px;
	color: @main-text;
	text-align: center;
	margin-bottom: 7px;
}

.other-ofers-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/*.....................CARD-AUTO.....................*/

.card-auto{
	width: 313px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 25px;
	padding-top: 25px;
	margin: 14px;
}

.card-auto-img-wrap{
	width: 265px;
  	height: 223px;
  	border-radius: 5px;
  	margin-bottom: 20px;
  	overflow: hidden;
}

.card-img{
	width: 100%;
	height: 100%;
}

.card-auto-model{
	width: 265px;
	border-bottom: 1px solid #efefef;
	padding-bottom: 12px;
	margin-bottom: 15px;
}

.card-model-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 18px;
	color: @main-text;
	text-align: left;
	cursor: pointer;
	transition: all .1s ease;

	&:hover{
		color: @main-green;
	}
}

.card-auto-discription{
	width: 265px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}

.card-auto-discription-key{
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 14px;
	color: #7C7C7C;
}

.card-auto-discription-value{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 14px;
	color: @main-text;
}

.card-auto-discription-value-gray{
	background-color: #ededed;
	text-transform: uppercase;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 10px;
	color: @main-text;
	text-align: center;
	border-radius: 5px;
	padding-top: 7px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 7px;
}

.card-auto-button{
	width: 265px;
  	height: 65px;
  	background-color: @main-green;
  	border-radius: 5px;
  	border: none;
  	outline: none;
  	font-family: 'Proxima_Nova';
  	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: @main-text;
	text-align: center;
  	color: #fff;
  	cursor: pointer;
  	margin-top: 20px;
}

.other-ofers-watch-all{
	width: 100%;
	background-color: @gray-bg;
	font-family: 'Proxima_Nova';
  	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: @main-text;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 14px;
	margin-right: 14px;
	cursor: pointer;
}











/*......................QUESTIONS....................*/

.question-block{
	width: 60%;
	padding-top: 30px;
	margin-bottom: 60px;
}

.question-block-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 30px;
	color: @main-text;
	text-align: center;
	margin-bottom: 25px;
}

.question-block-item{
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
	margin-bottom: 20px;
	cursor: pointer;
}

.question-block-item__head{
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 18px;
	color: @main-text;
	text-align: left;
	padding-top: 27px;
	padding-left: 32px;
	padding-right: 50px;
	padding-bottom: 27px;
	position: relative;

	&:after{
		content: "➜";
		font-size: 18px;
		color: @main-green;
		position: absolute;
		top: 25px;
		right: 35px;
		transform: rotate(90deg);
	}
}

.question-block-item__head.active:after{
	content: "➜";
	color: @main-green;
	transform: rotate(-90deg);
}

.question-block-item__body{
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 16px;
	color: #868686;
	text-align: left;
	line-height: 1.45;
	padding-left: 32px;
	padding-right: 50px;
	padding-bottom: 20px;
	display: none;
}

/*......................ABOUT PROJECT....................*/

.about-project-wrap{
	// border: 1px solid blue;
	padding-left: 29px;
	padding-right: 29px;
}

.about-project{
	background-color: @gray-bg;
	background-image: url(../img/red-car.png);
	background-repeat: no-repeat;
	background-position: right 77px;
	border-radius: 3px;
	padding-top: 50px;
	padding-left: 40px;
	padding-bottom: 40px;
	margin-bottom: 60px;
}

.about-project-content{
	width: 75%;
	padding-top: 4px;
	padding-right: 55px;
}

.about-project-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 30px;
	color: @main-text;
	text-align: left;
	margin-bottom: 24px;
}

.about-project-text{
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 16px;
	color: #868686;
	text-align: left;
	line-height: 1.45;
	margin-bottom: 15px;
}

/*.........................FOOTER........................*/

.footer{
	width: 100%;
	height: 197px;
	background-color: @gray-bg;
}

.footer-navigation{
	width: 100%;
	height: 116px;
	background: transparent;
	border-bottom: 1px solid @light-gray;
}

.footer-navigation_content{
	display: flex;
}

.footer-logo-block{
	width: 10%;
	// border: 1px solid red;
	padding-top: 36px;
	padding-left: 21px;
}

.footer-link-block_list{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 56px;
	padding-left: 66px;
	padding-bottom: 15px;
}

.footer-link-block{
	width: 60%;
	position: relative;
	// border: 1px solid red;
}

.footer-dropdown{
	width: 120px;
	background-color: #fff;
	border-radius: 5px;
	position: absolute;
	top: 50px;
	right: 66px;
	cursor: pointer;
}

.footer-contact-block{
	width: 30%;
	// border: 1px solid red;
	display: flex;
	justify-content: flex-start;
	padding-top: 48px;
	padding-left: 32px;
	padding-right: 27px;
	position: relative;
}

.footer-backet-block{
	// height: 40px;
	// border: 1px solid green;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 24px;
	padding-top: 5px;
	position: relative;
}

.footer-bascket-count{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: @main-green;
	position: absolute;
	top: -6px;
	left: 29px;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 13px;
	color: #fff;
	text-align: center;
	padding-top: 2px;
	cursor: pointer;
	// display: none;
}

.footer-search-block{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 7px;
	padding-left: 22px;
	// border: 1px solid green;
}

.footer-bottom-block{
	// border: 1px solid green;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-left: 22px;
	padding-right: 22px;
}

.footer-copy{
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 14px;
	color: @gray-text;
}

.footer-user-license{
	text-decoration: none;
	font-family: 'Proxima_Nova';
	font-weight: 600;
	font-size: 14px;
	color: @gray-text;
}

.footer-payment-card{
	width: 158px;
	height: 50px;
	// border: 1px solid green;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 4px;
	padding-right: 12px;	
}

.visa-svg{
	width: 38px;
}

.mastercard-svg{
	width: 38px;
}

.maestro-svg{
	width: 38px;
}







