/*...............SEARCH-PAGE..............*/

.search-page-title{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 30px;
	line-height: 2;
	color: @main-text;
	text-align: left;
	margin-bottom: 10px;
}

.search-main-block{
	width: 100%;
	border: 1px solid green;
	border-radius: 5px;
	background-color: #fff;
  	box-shadow: 0px 5px 27px 0px rgba(236, 239, 245, 0.6);
}

.search-form{
	// padding-left: 20px;
	// padding-right: 20px;
}

.head-search-form{
	height: 150px;
	border: 1px solid green;
}

.section-title-form{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 22px;
	line-height: 1.4;
	color: @main-text;
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
}

.form-section{
	width: 100%;
	background-color: #fff;
	cursor: pointer;
}

.form-section-head{
	width: 100%;
	padding-top: 5px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;

	&:after{
		content: "⏷";
		font-size: 16px;
		color: @main-green;
		position: absolute;
		top: 10px;
		right: 52px;
	}
}

.form-section-head.active:after{
	content: "⏶";
	color: @main-green;
}

.form-section-body{
	padding-top: 32px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	display: none;
}

.form-section-body.comfort-block{
	// padding-top: 32px;
	// padding-left: 30px;
	// padding-right: 30px;
	padding-bottom: 10px;
	// display: none;
}

/*............CUSTOM-RADIO-BUTTON..............*/

.radio input{
  	position: absolute;
  	z-index: -1;
  	opacity: 0;
  	margin: 10px 0 0 7px;
}

.radio-text {
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	color: @main-text;
  	position: relative;
  	padding: 0 0 0 25px;
  	cursor: pointer;	
}

.radio-text.comfort{
	margin-bottom: 33px;
}

.radio-text.other-parameters{
	margin-right: 285px;
}

.radio-text:before {
  	content: '';
  	position: absolute;
  	top: -3px;
  	left: 0;
  	width: 18px;
  	height: 18px;
  	box-shadow: 0px 3px 15px 0px rgba(104, 105, 104, 0.5);
  	border-radius: 50%;
  	background: #FFF;
}

.radio-text:after {
  	content: '';
  	position: absolute;
  	top: 1px;
  	left: 4px;
  	width: 10px;
  	height: 10px;
  	border-radius: 50%;
  	background: @main-green;
  	opacity: 0;
  	transition: .2s;
}

.radio input:checked + .radio-text:after {
  	opacity: 1;
}

/*............CUSTOM-CHECKBOX..............*/

.checkbox-wrap input{
	position: absolute;
  	z-index: -1;
  	opacity: 0;
  	margin: 10px 0 0 7px;
}

.checkbox-text{
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	color: @main-text;
  	position: relative;
  	padding: 0 0 0 25px;
  	cursor: pointer;	
}

.checkbox-text.comfort{
	margin-bottom: 33px;
}

.checkbox-text.other-parameters{
	margin-right: 285px;
}

.checkbox-text.margin-bottom{
	margin-bottom: 21px;
}

.checkbox-text:before {
  	content: '';
  	position: absolute;
  	top: -3px;
  	left: 0;
  	width: 18px;
  	height: 18px;
  	box-shadow: 0px 3px 15px 0px rgba(104, 105, 104, 0.5);
  	border-radius: 50%;
  	background: #FFF;
}

.checkbox-text:after {
  	content: '';
  	position: absolute;
  	top: 1px;
  	left: 4px;
  	width: 10px;
  	height: 10px;
  	border-radius: 50%;
  	background: @main-green;
  	opacity: 0;
  	transition: .2s;
}

.checkbox-wrap input:checked + .checkbox-text:after {
  	opacity: 1;
}

// .main-info-car-form{
// 	height: 50px;
// 	border: 1px solid orange;
// }

// .condition-color-car-form{
// 	height: 50px;
// 	border: 1px solid red;
// }

// .type-car-form{
// 	height: 50px;
// 	border: 1px solid blue;
// }

// .type-fuel-form{
// 	height: 50px;
// 	border: 1px solid green;
// }

// .type-transmition-form{
// 	height: 50px;
// 	border: 1px solid red;
// }

// .car-safety-form{
// 	height: 50px;
// 	border: 1px solid blue;
// }

// .car-comfort-form{
// 	height: 50px;
// 	border: 1px solid green;
// }

// .other-parameters-car-form{
// 	height: 50px;
// 	border: 1px solid red;
// }
.wrap-checkbox-comfort{
	display: flex;
}

.checkbox-comfort-items-block{
	width: 33.3%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 0;
}

:nth-last-child(1){
		margin-bottom: 0;
	}

.wrap-checkbox-other-parameters{
	display: flex;
}

.search-form-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 30px;
	padding-right: 35px;
}

.search-form-footer-reset{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	color: #8B98A6;
	position: relative;

	&:before{
		content: "✖";
		font-size: 14px;
		position: absolute;
		top: -2px;
		left: -20px;
		color: #8B98A6;
	}
}

.search-form-footer-offer{
	text-transform: uppercase;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	color: #8B98A6;
}

.search-form-button{
	width: 280px;
	height: 65px;
	text-transform: uppercase;
	font-family: 'Proxima_Nova';
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	background-color: @main-green;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all .2s ease;
}




